@import "font.css";

body {
  font-family:"Roboto", sans-serif;
  color: #3f2c0c;

}

.active-link {
    background-color:#ffdca6; /* Red border for the active link */
    padding: 10px;
    border-radius: 4px;
}

header {
  background-color: #f7c77f;
  padding: 10px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

header h1 {
  font-size: 80px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 7px;
  color:#3f2c0c;
}

nav ul {
  font-size: 25px;
  font-weight: 300;
  margin-top: 0px;
  color:#3f2c0c
}

h2 {
  font-size: 30px;
  font-weight: 500;
}

p {
  font-size: 18px;
  font-weight: 300;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

section {
  padding: 20px;
}

footer {
  background-color: #f0f0f0;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* People */
.people-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjusts the space between entries */
  width: 1700px; /* Fixed width */
  margin: 0 auto;
}

.person {
  display: flex;
  align-items: center; /* Aligns items vertically */
  gap: 10px; /* Space between the image and the text */
  width: 400px; /* Fixed width */
  height: 130px; /* Fixed height */
}

.person-image {
  width: 130px;
  height: 130px;
  object-fit: cover; /* Ensures the image covers the area without stretching */
  border-radius: 50%; /* Optional: makes the image round */
}

.person-info h2 {
  margin: 0;
  font-size: 1.3em; /* Adjust based on your design */
}

.person-info h3 {
  margin: 0;
  font-size: 1.0em; /* Adjust based on your design */
  font-weight: 400;
}

.person-info p {
  margin: 0;
  font-size: 0.9em; /* Adjust based on your design */
  font-weight: 300;
}

