<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/styles_sync/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/styles_sync/font.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/styles/blog.css' | relative_url }}">
</head>
<body>
  <div id="header-placeholder"></div>
  <script src="{{ '/assets/scripts_sync/header.js' | relative_url }}"></script>

  <main>
    {{ content }}
  </main>
</body>
</html>