<header>
    <h1 class="logo">Aditi Raghunathan's group @ CMU</h1>
    <nav>
        <ul>
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/people.html' | relative_url }}">People</a></li>
            <li><a href="{{ '/publications.html' | relative_url }}">Publications</a></li>
            <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
            <li><a href="{{ '/contact.html' | relative_url }}">Contact</a></li>
        </ul>
    </nav>
</header>